*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ea7af4;
}

header {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

section.main-container {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  width: 90%;
  padding: 12px;
}

#result {
  font-size: 24px;

  margin-top: 16px;
}

div.input-box {
  display: flex;
  flex-direction: column;
}

p.input-title {
  font-size: 24px;

  margin-bottom: 12px;
}

input[type="date"] {
  background-color: #ea7af4;
  padding: 15px;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}
::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
